:root{
    --login-bg:#f8f3ff;
    --title-bg: #9089cc;
    --button-bg: #674baf; 
    --light-pink: #e882e8;
    --image-bg: #eadbff;
}
 
body{
    height: 91.3vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.login-container{
    height: 550px;
    width: 60em;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 29px;
   
}
.login-info-container{
        width: 50%;
        display: flex; 
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 0.5rem;
        background-color: var(--login-bg);

}
.image-container{
    width: 50%;
    height: 550px;
    padding-top: 2rem;
    background-color: var(--image-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img{
    width: 550px;
    height: 400px;
    filter: brightness(1.1);
    mix-blend-mode: multiply; 
    margin-top: -55px;   
}
.title{
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--title-bg);
}

.logo-form{
filter: brightness(1.1);
mix-blend-mode: multiply;  
border-style: none;
padding-top: 0rem;
width: 100%;
display: block;
justify-content: center;
}

.logo-form img{
    width: 150px;
    height: 150px;

}

.inputs-container{
    /* border: 1px solid red; */
    height: 45%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input, .btn-login{
    width: 90%;
    height: 15%;
    font-size: 1em;
   
    
}

.input{
   border-radius: 20px;
    border: none;  
    padding-left: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;

} 

.input:hover{
   border: 2px solid var(--button-bg); 
}
.btn-login{
    width: 70%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
    outline: none;
    border: none;
}

#btncontrasena{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 200px;
    

}